{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="yuuh-pizza-kebab">
        <h1>Kebab</h1>

        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Kebab</th>
                    <th>Price</th>
                    {% if session.is_admin and not selecting %}
                        <th><a href="{{ url_for('create_kebab') }}">Add new</a></th>
                        <th></th>
                    {% endif %}

                    {% if selecting %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for k in kebabs %}
                    <tr>
                        <td><img src="{{ k.image_url }}" class="img-responsive img-rounded"></td>
                        <td>{{ k.name }}</td>
                        <td>{{ k.price }}</td>
                        {% if session.is_admin and not selecting %}
                            <td><a href="{{ url_for('edit_kebab', kebab_id=k.id) }}">Edit</a></td>
                            <td><a href="{{ url_for('delete_kebab', kebab_id=k.id) }}">Delete</a></td>
                        {% endif %}
                        {% if selecting %}
                            <td><a href="{{ url_for('select_kebab', kebab_id=k.id) }}">Select</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock %}
