{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Kebab</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Kebab</th>
                    <th>Price</th>
                    {% if session.is_admin %}
                        <th><a href="{{ url_for('create_kebab') }}">Add new</a></th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for k in kebabs %}
                    <tr>
                        <td><img src="{{ k.image_url }}" style="width: 75px; height: 75px;"></td>
                        <td>{{ k.name or 'Nameless kebab' }}</td>
                        <td>{{ k.price }}</td>
                        {% if session.is_admin %}
                            <td><a href="{{ url_for('edit_kebab', kebab_id=k.id) }}">Edit</a></td>
                            <td><a href="{{ url_for('delete_kebab', kebab_id=k.id) }}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock %}
