{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Drinks</h1>

        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Drink</th>
                    <th>Price</th>
                    {% if session.is_admin and not selecting %}
                        <th><a href="{{ url_for('create_drink') }}">Add new</a></th>
                        <th></th>
                    {% endif %}

                    {% if selecting %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for d in drinks %}
                    <tr>
                        <td><img src="{{ d.image_url }}" style="width: 75px; height: 75px;"></td>
                        <td>{{ d.name or 'Nameless drink' }}</td>
                        <td>{{ d.price }}</td>
                        {% if session.is_admin and not selecting %}
                            <td><a href="{{ url_for('edit_drink', drink_id=d.id) }}">Edit</a></td>
                            <td><a href="{{ url_for('delete_drink', drink_id=d.id) }}">Delete</a></td>
                        {% endif %}

                        {% if selecting %}
                            <td><a href="{{ url_for('select_drink', drink_id=d.id) }}">Select</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock %}
