body {
  padding-top: 50px;
}

.yuuh-pizza-kebab {
  padding: 40px 15px;
  text-align: center;
}

.table td {
    text-align: left;
}

td:nth-child(1) {
    width: 20%;
}

.img-responsive {
    width: 100%;
}

.thumbnail img {
    min-height: 50px;
    height: 250px;
}

div.thumbnail {
    box-shadow: 0px 0px 100px rgba(0, 0, 0, .35);
}
