{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Kebab</h1>
      </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Kebab</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Kebab with french fries</td>
                <td>9.00</td>
            </tr>
            <tr>
                <td>Kebab with rice</td>
                <td>8.30</td>
            </tr>
            <tr>
                <td>Iskender kebab</td>
                <td>8.90</td>
            </tr>
            <tr>
                <td>Pita kebab</td>
                <td>8.50</td>
            </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>
{% endblock %}
