{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Pizza</h1>
      </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Pizza</th>
                <th>Toppings</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Bolognese</td>
                <td>Ground beef</td>
                <td>7.20</td>
            </tr>
            <tr>
                <td>Frutti di Mare</td>
                <td>Shrimp, clam, tuna</td>
                <td>8.10</td>
            </tr>
            <tr>
                <td>Romeo</td>
                <td>Shrimp, pineapple, exotic cheese, salami</td>
                <td>8.20</td>
            </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>
{% endblock %}
