{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="yuuh-pizza-kebab">
        <h1>Delivery Information</h1>

            <form action="" method="post">
                <label>
                    <input type="checkbox" class="form-control" name="customer_found"> Customer Found
                </label>

                <br>

                <label>
                    <input type="checkbox" class="form-control" name="had_problems"> Had Problems
                </label>

                <br>

                <button type="submit" class="btn btn-primary">Mark as Delivered</button>
            </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}
