{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="yuuh-pizza-kebab">
        <h1>Delivery Information</h1>

        <div class="row">
            <div class="center-block">
                <form action="" method="post">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" name="customer_found">Customer Found</label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="" name="had_problems">Had Problems</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Mark as Delivered</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
