{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="yuuh-pizza-kebab">
        <h1>Orders</h1>

        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Ordered By</th>
                    <th>Ordered At</th>
                    <th>Deliver To</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    {% if session.is_admin %}
                        <th></th>
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                    {% if o.rejected %}
                    <tr class="danger">
                    {% elif o.delivery_summary %}
                    <tr class="success">
                    {% else %}
                    <tr class="info">
                    {% endif %}
                        <td>{{ o.ordered_by.username }}</td>
                        <td>{{ o.ordered_at }}</td>
                        <td>{{ o.delivery_address }}</td>
                        <td>{{ '${}'.format('%0.2f' % o.total_price()) }}</td>
                        <td>{{ 'Rejected' if o.rejected else 'Delivered' if o.delivery_summary else 'Waiting' }}</td>
                        <td><a href="{{ url_for('order_details', order_id=o.id) }}">Details</a></td>
                        {% if not o.rejected and not o.delivery_summary %}
                        <td><a href="{{ url_for('reject_order', order_id=o.id) }}">Reject</a></td>
                        <td><a href="{{ url_for('mark_order_as_delivered', order_id=o.id) }}">Mark As Delivered</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock %}
