{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Toppings</h1>

        <table class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th>Topping</th>
                <th>Price</th>
                {% if session.is_admin %}
                    <th><a href="{{ url_for('create_topping') }}">Add new</a></th>
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for t in toppings %}
                <tr>
                    <td>{{ t.name }}</td>
                    <td>{{ t.price }}</td>
                    {% if session.is_admin %}
                        <td><a href="{{ url_for('edit_topping', topping_id=t.id) }}">Edit</a></td>
                        <td><a href="{{ url_for('delete_topping', topping_id=t.id) }}">Delete</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
{% endblock %}
