{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Toppings</h1>
      </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Topping</th>
                <th>Price</th>
                {% if session.is_admin %}
                <th><a href="/topping/create">Add new</a></th>
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for t in toppings %}
                <tr>
                    <td>{{ t.name }}</td>
                    <td>{{ t.price }}</td>
                    {% if session.is_admin %}
                    <td><a href="/topping/edit/{{ t.id }}">Edit</a></td>
                    <td><a href="/topping/delete/{{ t.id }}">Delete</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </body>
</html>
{% endblock %}
