{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Drinks</h1>
      </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Drink</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                {% for d in drinks %}
                <tr>
                    <td><img src="{{ d.image_url }}" style="width: 75px; height: 75px;"></td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </body>
</html>
{% endblock %}
