{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Kebab</h1>
      </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Kebab</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                {% for k in kebabs %}
                <tr>
                    <td><img src="{{ k.image_url }}" style="width: 75px; height: 75px;"></td>
                    <td>{{ k.name }} ({{ k.id }})</td>
                    <td>{{ k.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </body>
</html>
{% endblock %}
