{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<html lang="en">
  <body>
    <div class="container">
      <div class="starter-template">
        <h1>Pizza</h1>
      </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Pizza</th>
                <th>Toppings</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                {% for p in pizzas %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.toppings_as_string() }}</td>
                    <td>{{ p.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </body>
</html>
{% endblock %}
